*{
    margin: 0;
    padding: 0;
}
body{
    background-color: snow;
    font-family: monospace;
}
/* •	Menú de navegación a las diferentes secciones, apuntando a cada una de ellas. (10 puntos) */
.estilo-h1{
    font-size: 35px;
    position: relative;
    z-index: 1;
    color: white;
    background-color: black;
    justify-content: center;
    display: flex;
}
nav li a {
    color: rgb(255, 255, 255);
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
    background-color: black;
    margin: 0px;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
}
nav ul{
    list-style-type: none;
    background-color: black;
    overflow: auto;
    width: 100%;
    z-index: 1;
    justify-content: center;
    display: flex;
}
nav li a:hover{
    color: black;
    background-color: white;
}
/* •	Imagen principal en le header tipo hero, con su respectivo texto centrado y un color que resalte. (15 puntos) */
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.527)), url(img/fondo\ 1.jpg);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.text-medium{
    text-align: center;
    color: white;
}
.text-h3{
    text-align: center;
    font-size: 30px;
    padding-top: 80px;
    margin-bottom: 10px;
    text-decoration: underline;
    text-shadow: 1px 1px 1px white;
}
/* •	Sección con ofertas (con algún recuadro bien definido), que contenga icono, titulo descriptivo y valor. (15 puntos) */
.text-Ofertas{
    text-align: center;
    padding-top: 30px;
    text-decoration: underline;
    text-shadow: 1px 1px 1px black;
    padding-bottom: 40px;
}
.text-Ofertas-h2{
    padding-top: 50px;
    padding-left: 150px;
}
.text-Ofertas-p{
    padding-left: 150px;

}
.contenedor-img{
    width: 100%;
    display: flex;
    justify-content:left;
}
.contenedor-img img{
    width: 20%;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 6px 6px 6px black;
}
/* •	Crear galería que muestre al menos 12 imágenes, repartidas como usted prefiera. Es importante que las imágenes tengan márgenes y bordes bien definidos, además de la propiedad hover. (30 puntos) */
#galeria{
    background-color: snow;
}
.contenedor2{
    width: 80%;
    padding: 10px 0;
    margin: auto;
}
.contenedor-img{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.contenedor-img img{
    width: 20%;
    margin-bottom: 20px;
    border-radius: 30px;
    box-shadow: 6px 6px 6px black;
}
.contenedor-img img:hover{
    transform: scaleX(-1);
    cursor: pointer;
}
.text-Ofertas-h3{
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
    padding-bottom: 40px;
}
/* <!-- •	Crear Footer que contenga link’s de interés, así como también, datos de contacto del local (fono, email, dirección, etc.). (25 puntos)  --> */
.footer-color{
    background-color: black;
}
.footer{
    width: auto;
    padding: 18px;
}
.footer ul{
    list-style-type: none;
}
.footer li{
    padding: 2px;
}
.footer a{
    text-decoration: none;
    color: white;
}.footer i{
    color: white;
}



